.main_detail {
    background: #fff;
    padding: 0 10px;

    >div {
        display: flex;
        justify-content: space-between;
        padding: 16px 4px;
        border-bottom: 1px solid #e0e0e0;

        &:last-child {
            border: 0;
        }

        span {
            &.name {
                color: #4d4d4d;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 10px;
            }

            &.value {
                color: #808080;
                text-align: right;
                flex: 1;
            }
        }
    }
}

.main_cfd {

    /* 
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 10px; */
    &:first-of-type {
        border-top: 1px solid #e0e0e0;
    }

    header {
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px 0;

        .head_title {
            color: #4d4d4d; // margin-bottom: 5px;

            .icon-tool {
                position: absolute;
                right: 15px;
                top: 15px;

                .icon {
                    color: #b8b8b8;
                    font-size: 24px;
                }

                .icon:last-child {
                    margin-left: 10px;
                }
            }
        }

        .head_msg {
            color: #37baa1;
            font-size: 12px;
        }
    }

    section {
        .choose {
            display: flex;
            justify-content: space-around;
            padding: 0px 13px;
            background-color: #fff;
            padding-bottom: 10px;
            border-bottom: 1px solid #e0e0e0;

            >div {
                width: 31%;
                background: #f7f7f7;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 18px 0;

                &:last-child {}

                .icon {
                    font-size: 22px;
                    height: 47px;
                    color: #cccccc;
                    margin-bottom: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 100%;
                    }
                }

                .img {}

                .txt {
                    color: #666666;
                    font-size: 12px;
                }
            }
        }

        .pro_main {
            .eye {
                padding: 10px 13px;
                background: #fff;
                border-bottom: 1px solid #e0e0e0;
                padding-bottom: 0;

                .h_title {
                    color: #3f69a5;
                    margin-bottom: 10px;
                    font-size: 14px;
                }

                .t_labels {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 10px;

                    .lab {
                        border: 1px solid #3f69a5;
                        color: #3f69a5;
                        font-size: 13px;
                        padding: 5px 10px;
                        margin: 0 10px 10px 0;
                    }
                }

                .m_list {
                    .li {
                        font-size: 13px;
                        padding-left: 14px;
                        display: flex;
                        border-top: 1px solid #e0e0e0;
                        padding-right: 22px;
                        align-items: center;

                        /* &:first-child {
                            border-top-width: 0 !important;
                        } */
                        &.has_lab {
                            padding-right: 0;
                        }

                        .name {
                            white-space: nowrap;
                            color: #666666;
                            flex-basis: 110px;
                            flex-shrink: 0;
                        }

                        .inp {
                            flex: 1;
                            color: #666666;
                            border: none;

                            input {
                                margin: 16px 0;
                            }
                        }

                        .labels {
                            @extend .t_labels;
                        }
                    }
                }
            }
        }
    }
}