<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/manage"></ion-back-button>
        </ion-buttons>
        <ion-title>订单列表</ion-title>
    </ion-toolbar>
    <ion-toolbar no-padding>
        <s-my-tabs [slidesPerView]="5" [selectedIndex]="pageIndex" [slides]="['待支付', '待发货','部分发货', '待收货','已完成','已取消']"
            (slideClick)="segmentChanged($event)"></s-my-tabs>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
            refreshingText="刷新中..."></ion-refresher-content>
    </ion-refresher>
    <div class="no-list" *ngIf="orderList&&orderList?.length == 0">
        <ion-icon src="./assets/icons/svg/nolist.svg"></ion-icon>
        <span></span>
    </div>
    <div class="list">
        <div class="card" *ngFor="let order of orderList">
            <div class="head">
                <div class="name">
                    <ion-icon class="input-icon" src="./assets/icons/svg/user.svg"></ion-icon>
                    <span>{{order.consignee}}</span>
                </div>
                <div class="status">{{order.status}}</div>
            </div>
            <div class="its">
                <div class="it">
                    <div class="key">订单号　：</div>
                    <div class="value">{{order.sn}}</div>
                </div>
                <div class="it">
                    <div class="key">下单时间：</div>
                    <div class="value">{{order.add_time}}</div>
                </div>
            </div>
            <ng-container *ngIf="order?.goods_list?.length==1">
                <div class="goods-info" *ngFor="let goods of order?.goods_list" tappable [routerLink]="['/manage/order-info',order.id]">
                    <div class="goods-info-inner">
                        <div class="img">
                            <ion-img [sImgLazyLoad]="goods.goods_img"></ion-img>
                        </div>
                        <div class="center">
                            <div class="goods-name">{{goods.goods_name}}</div>
                            <div class="attr">
                                <span *ngIf="goods.qiujing">球镜：{{goods.qiujing}}</span>
                                <span *ngIf="goods.zhujing">柱镜：{{goods.zhujing}}</span>
                                <span *ngIf="goods.zhouwei">轴位：{{goods.zhouwei}}</span>
                                <span [innerHtml]="goods.goods_attr"></span>
                            </div>
                        </div>
                        <div class="right">
                            <div class="price">
                                {{goods.formated_goods_price}}
                            </div>
                            <div class="num">
                                x{{goods.goods_number}}
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="order?.goods_list?.length>1">
                <div class="goods-info" tappable [routerLink]="['/manage/order-info',order.id]">
                    <div class="goods-info-inner">
                        <div class="img" *ngFor="let goods of order?.goods_list">
                            <ion-img [sImgLazyLoad]="goods.goods_img"></ion-img>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="sum">
                <span class="count">共{{order?.goods_number}}件商品&nbsp;&nbsp;</span>
                <span>
                    <span>合计：</span>
                    <span class="price">{{order.formated_total_fee}}</span>
                </span>
            </div>
            <div class="btns" *ngIf="composite_status != 100 && composite_status != 2">
                <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.examine">审核</ion-button>
                <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.prepare" (click)="prepare(order)">配货
                </ion-button>
                <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.split" [routerLink]="['/manage/order-info',order.id,{order_status:1}]">出库</ion-button>
                <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.to_delivery" [routerLink]="['/manage/ship-order',{order_id: order.id}]">去发货</ion-button>
                <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.seal">盖章</ion-button>
                <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.sign">签署</ion-button>
                <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.look">查看</ion-button>
                <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.download">下载</ion-button>
                <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.opc ">导入opc</ion-button>
                <ion-button fill="outline" size="small" *ngIf="composite_status == 102 || composite_status == 105"
                    [routerLink]="['/manage/logistics-tracking',order.id]">物流跟踪</ion-button>
            </div>
        </div>
    </div>

    <ion-infinite-scroll threshold="400px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>