<!-- <ion-header>
  <ion-toolbar>
    <ion-title>message-list</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of chatServ.recentSessMap | keys">
      <ion-item tappable (click)="CustomeServicesPage(item)">
        <div class="img" item-left>
          <img src="{{item.SessionImage}}">
          <div class="unread" *ngIf="item.UnreadMsgCount>0">{{item.UnreadMsgCount<100?item.UnreadMsgCount:'99+'}}</div>
              </div> <h3>{{item.SessionNick}}</h3>
              <p>{{item.MsgShow}}</p>

              <div class="right" item-right>
                <ion-note *ngIf="userTidings?.list?.number!=0">{{item.MsgTimeStamp}}</ion-note>
              </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="chatServ.delItem(item)">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>