<!-- <ion-header>
  <ion-toolbar>
    <ion-title>message-list</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding-top>

  <ion-list>

    <ion-item-sliding *ngFor="let item of chatServ.recentSessMap | keys">
      <ion-item button detail="false" (click)="CustomeServicesPage(item)">
        <div class="img" slot="start">
          <img src="{{item.SessionImage}}">
          <div class="unread" *ngIf="item.UnreadMsgCount>0">{{item.UnreadMsgCount>=100?'99+':item.UnreadMsgCount}}</div>
        </div>
        <div class="msg-body">
          <h3>{{item.SessionNick}}</h3>
          <p>{{item.MsgShow}}</p>
        </div>
        <div class="right" slot="end">
          <ion-note *ngIf="userTidings?.list?.number!=0">{{item.MsgTimeStamp}}</ion-note>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="chatServ.delItem(item)">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>