@import '../../../../theme/mixin.scss';

ion-content {
    --ion-background-color: #F3F6FC;
}

ion-card {
    padding-bottom: 16px;
    background: #ffffff;

    .head {
        font-size: 12px;
        padding: 14px;
        display: flex;
        justify-content: space-between;

        .status {
            color: #1175FF;
        }
    }

    .goods {
        background: #FAFAFA;
        display: flex;
        padding: 0 10px;
        margin-bottom: 8px;

        .img {
            width: 100px;
            height: 100px;
            background: #ffffff;
            margin: 10px 0;
            flex-shrink: 0;
            border: var(--border-width) solid #e0e0e0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .right {
            margin: 16px 12px;
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: hidden;

            .name {
                @include ellipsis(1);
                margin-bottom: 8px;
                color: #000;
            }

            .obj {
                min-width: 100%;
                white-space: nowrap;
                font-size: 12px;
                line-height: 1.5;
                display: flex;

                .key {
                    color: #999;
                    flex-shrink: 0;
                }

                .value {
                    word-break: break-all;
                    white-space: pre-wrap;
                }
            }
        }
    }
}