<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="manage">
      <ion-icon name="settings"></ion-icon>
      <ion-label>管理中心</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goods">
      <ion-icon name="contacts"></ion-icon>
      <!-- <ion-icon src="./assets/icons/tab-goods.svg"></ion-icon> -->
      <ion-label>商品</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customer">
      <ion-icon name="information-circle"></ion-icon>
      <!-- <ion-icon src="./assets/icons/tab-service.svg"></ion-icon> -->
      <ion-label>客服</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="market">
      <ion-icon name="contacts"></ion-icon>
      <!-- <ion-icon src="./assets/icons/tab-market.svg"></ion-icon> -->
      <ion-label>行情</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>