<!-- <ion-header translucent>
  <ion-toolbar>
    <ion-title>个人中心</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>
  <div class="page-wrap">
    <div class="card card1">
      <div class="user" tappable [routerLink]="['/manage/account-management']">
        <div class="avatar">
          <ion-img [sImgLazyLoad]="supplierInfo?.logo"></ion-img>
        </div>
        <div class="info">
          <div class="name">{{supplierInfo?.suppliers_name}}</div>
          <div class="time" *ngIf="supplierInfo?.last_check">上次登录时间：{{supplierInfo.last_check }}</div>
        </div>
      </div>
      <!-- <div class="log">
        <ion-icon name="calendar"></ion-icon>
        <div class="txt">日志</div>
        <ion-icon style="font-size: 16px;" src="./assets/icons/svg/right-w.svg"></ion-icon>
      </div> -->

    </div>
    <div class="card card2">
      <div class="head">
        <div class="title">普通订单</div>
        <!-- <div class="all" routerLink="/manage/order-list">
          <span>查看全部</span>
          <ion-icon src="./assets/icons/svg/right-w.svg"></ion-icon>
        </div> -->
      </div>
      <div class="body">
        <div class="item" tappable [routerLink]="['/manage/order-list',{ pageindex: 0 }]">
          <div class="img">
            <img src="./assets/icons/my11.png">
            <div class="label" *ngIf="counts&&counts?.order?.dfk!==0">{{counts?.order?.dfk}}</div>
          </div>
          <div class="item-name">待支付</div>
        </div>
        <div class="item" tappable [routerLink]="['/manage/order-list',{ pageindex: 1 }]">
          <div class="img">
            <img src="./assets/icons/my10.png">
            <div class="label" *ngIf="counts&&counts?.order?.dfh!==0">{{counts?.order?.dfh}}</div>
          </div>
          <div class="item-name">待发货</div>
        </div>
        <div class="item" tappable [routerLink]="['/manage/order-list',{ pageindex: 2 }]">
          <div class="img">
            <img src="./assets/icons/my9.png">
            <div class="label" *ngIf="counts&&counts?.order?.bffh!==0">{{counts?.order?.bffh}}</div>
          </div>
          <div class="item-name">部分发货</div>
        </div>
        <div class="item" tappable [routerLink]="['/manage/order-list',{ pageindex: 3 }]">
          <div class="img">
            <img src="./assets/icons/my7.png">
            <div class="label" *ngIf="counts&&counts?.order?.dsh!==0">{{counts?.order?.dsh}}</div>
          </div>
          <div class="item-name">待收货</div>
        </div>
        <div class="item" tappable [routerLink]="['/manage/order-list',{ pageindex: 4 }]">
          <div class="img">
            <img src="./assets/icons/my8.png">
            <!-- <div class="label" *ngIf="counts&&counts?.order?.ywc!==0">{{counts?.order?.ywc}}</div> -->
          </div>
          <div class="item-name">已完成</div>
        </div>
        <div class="item" tappable [routerLink]="['/manage/order-list',{ pageindex: 5 }]">
          <div class="img">
            <img src="./assets/icons/my6.png">
            <!-- <div class="label" *ngIf="counts&&counts?.order?.yqx!==0">{{counts?.order?.yqx}}</div> -->
          </div>
          <div class="item-name">已取消</div>
        </div>
      </div>
    </div>
    <div class="card card3">
      <div class="head">
        <div class="title">铺货订单</div>
        <!-- <div class="all">
          <span>查看全部</span>
          <ion-icon src="./assets/icons/svg/right-w.svg"></ion-icon>
        </div> -->
      </div>
      <div class="body">
        <div class="item" tappable [routerLink]="['/manage/order-list-d',{ pageindex: 0 }]">
          <div class="img">
            <img src="./assets/icons/my5.png">
            <div class="label" *ngIf="counts&&counts?.distribution?.dsh!==0">{{counts?.distribution?.dsh}}</div>
          </div>
          <div class="item-name">待审核</div>
        </div>
        <div class="item" tappable [routerLink]="['/manage/order-list-d',{ pageindex: 1 }]">
          <div class="img">
            <img src="./assets/icons/my4.png">
            <div class="label" *ngIf="counts&&counts?.distribution?.dgz!==0">{{counts?.distribution?.dgz}}</div>
          </div>
          <div class="item-name">待盖章</div>
        </div>
        <div class="item" tappable [routerLink]="['/manage/order-list-d',{ pageindex: 2 }]">
          <div class="img">
            <img src="./assets/icons/my3.png">
            <div class="label" *ngIf="counts&&counts?.distribution?.sxz!==0">{{counts?.distribution?.sxz}}</div>
          </div>
          <div class="item-name">生效中</div>
        </div>
        <div class="item" tappable [routerLink]="['/manage/order-list-d',{ pageindex: 3 }]">
          <div class="img">
            <img src="./assets/icons/my2.png">
            <div class="label" *ngIf="counts&&counts?.distribution?.ysx!==0">{{counts?.distribution?.ysx}}</div>
          </div>
          <div class="item-name">已失效</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>