@mixin ellipsis($clamp:1) {
    @if($clamp==1) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @if($clamp>1) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $clamp;
        -webkit-box-orient: vertical;
    }
}