ion-content {
    --ion-background-color: #ffffff;
}

.form-wrap {

    width: 100%;

    form {
        width: 80%;
        min-width: 213px;
        max-width: 400px;
        margin: auto;
        margin-top: 130px;
    }

    .login-txt {
        color: #808080;
        font-size: 24px;
        letter-spacing: 8px;
        margin-bottom: 32px;
    }

    .item {
        padding-left: 0;
        font-size: 16px;
        color: #333333;
        min-height: 14px;
        margin-top: 32px;
        --padding-start: 0;
        --border-color: #e6e6e6;

        .input-icon {
            color: #CECECE;
            font-size: 22px;
            margin-right: 8px;
        }

        .ion-input {
            font-size: 14px;
        }

        .s_h {
            margin-right: 0;

            img {
                width: 24px;
                display: block;
            }
        }
    }

    .btn-wrap {
        button {
            background: linear-gradient(90deg, #7DD2FE 0%, #026CFF 100%);
            color: #ffffff;
            margin-top: 48px;
            padding: 16px 0;
            font-size: 24px;
            letter-spacing: 8px;
            width: 100%;
            border-radius: 40px;
            outline: none;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.signin-forgot {
    position: absolute;
    bottom: 22px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #1276FF;
    font-size: 14px;
    letter-spacing: 3px;
    text-decoration: none;

    a {
        text-decoration: none;
        color: #1276FF;
    }
}