<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage/order-list-d"></ion-back-button>
    </ion-buttons>
    <ion-title>修改合同</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <div class="head">
    <ion-icon name="md-notifications"></ion-icon>
    <span *ngIf="!edit">请核对订单信息后，再发货，上门取货不需要填写直接提交</span>
    <span *ngIf="edit">请修改物流信息并确认提交</span>
  </div> -->
  <ion-card>
    <h1>开始时间</h1>
    <ion-datetime displayFormat="YYYY-MM-DD" [min]="minDate" [max]="maxDate" placeholder="请选择" cancelText="取消" doneText="确定" [(ngModel)]="contracttime"></ion-datetime>
    <h1>结束时间</h1>
    <ion-datetime displayFormat="YYYY-MM-DD" [min]="minDate" [max]="maxDate" placeholder="请选择" [(ngModel)]="endtime" cancelText="取消"
      doneText="确定"></ion-datetime>
    <h1>任务金额</h1>
    <ion-input [debounce]="300" clearInput placeholder="请填写任务金额" [(ngModel)]="task_amount"></ion-input>
    <h1>是否线下</h1>
    <ion-select [(ngModel)]="is_xianxia" okText="确定" cancelText="取消" placeholder="请选择" [interfaceOptions]="customAlertOptions">
      <ion-select-option [value]="1">是</ion-select-option>
      <ion-select-option [value]="0">否</ion-select-option>
    </ion-select>
  </ion-card>
  <div class="btns">
    <button (click)="cancel()">取消</button>
    <button class="bac" (click)="confirm()">确定</button>
  </div>
</ion-content>