<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/manage"></ion-back-button>
    </ion-buttons>
    <ion-title>订单列表</ion-title>
  </ion-toolbar>
  <ion-toolbar no-padding>
    <s-my-tabs [slidesPerView]="4" [selectedIndex]="pageIndex" [slides]="['待审核', '待盖章', '生效中','已失效']" (slideClick)="segmentChanged($event)"></s-my-tabs>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="no-list" *ngIf="orderList&&orderList?.length == 0">
    <ion-icon src="./assets/icons/svg/nolist.svg"></ion-icon>
    <span></span>
  </div>
  <div class="list">
    <ion-card class="li" *ngFor="let order of orderList">
      <div class="head">
        <div class="tit">铺货</div>
        <div class="status">{{order?.distribution_status}}</div>
      </div>
      <div class="body" tappable [routerLink]="['/manage/order-info-d',order.id]">
        <div class="it">
          <div class="key">
            <pre>用户名　：</pre>
          </div>
          <div class="value">{{order?.user_name}}</div>
        </div>
        <div class="it">
          <div class="key">
            <pre>订单号　：</pre>
          </div>
          <div class="value">{{order?.sn}}</div>
        </div>
        <div class="it">
          <div class="key">
            <pre>数　　量：</pre>
          </div>
          <div class="value">{{order?.goods_number}}</div>
        </div>
        <div class="it">
          <div class="key">
            <pre>铺货金额：</pre>
          </div>
          <div class="value">{{order?.formated_total_fee}}</div>
        </div>
        <div class="it">
          <div class="key">
            <pre>下单时间：</pre>
          </div>
          <div class="value">{{order?.add_time}}</div>
        </div>
      </div>
      <div class="btns">
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.refuse" (click)="refuse(order)">拒绝</ion-button>
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.examine" (click)="check(order.id)">审核</ion-button>
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.prepare" (click)="prepare(order)">配货
        </ion-button>
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.split" [routerLink]="['/manage/order-info',order.id,{order_status:1}]">出库</ion-button>
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.to_delivery" [routerLink]="['/manage/ship-order',{order_id: order.id}]">去发货</ion-button>
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.seal" (click)="seal(order.id)">盖章</ion-button>
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.sign" (click)="sign(order.id)">签署</ion-button>
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.look" (click)="look(order.id)">查看</ion-button>
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.download" (click)="download(order.id)">下载合同</ion-button>
        <ion-button fill="outline" size="small" *ngIf="!!order?.operable_list?.opc" (click)="opc_order(order)">导入opc</ion-button>
      </div>
    </ion-card>
  </div>

  <ion-infinite-scroll threshold="400px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>